version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 5
    rebase-strategy: "auto"
    labels:
      - "dependencies"
      - "dependabot"
    assignees:
      - "Rimblehelm"
    reviewers:
      - "Rimblehelm"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 5
    rebase-strategy: "auto"
    labels:
      - "dependencies"
      - "dependabot"
    assignees:
      - "Rimblehelm"
    reviewers:
      - "Rimblehelm"
